GEMINI_MODEL=<your-gemini-llm-model>
GEMINI_API_KEY=<your-gemini-api-key-model>
GEMINI_API_URL=<your-gemini-api-url>
GEMINI_EMBED_MODEL=<emdedding-model>
GEMINI_EMBED_TITLE=<embedding-title>
VECTOR_DB_PATH=~/vdb